﻿@model IEnumerable<AreaAction.Models.Students.StudentModel>

@{
    ViewData["Title"] = "StudentView";
}

<h1>StudentView</h1>

<h4>StudentModel</h4>
<hr />
<div class="row">
    @*<div class="col-md-4">
        <form asp-action="StudentView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" />
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input type="text" asp-for="Address" />
            </div>
            <div class="form-group">
                <label asp-for="Age"></label>
                <input type="number" asp-for="Age" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>*@
</div>
<table>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Age</th>
    </tr>
    @foreach (var item in Model ) { 
<tr>
    <td>
        @item.Name
    </td>
    <td>
        @item.Address
    </td>
</tr>
    }
</table>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
