﻿
@model StudentModel

<form method="post" asp-action="AddStudents">
    <input type="text" asp-for="name">&nbsp;
    <input type="number" asp-for="id">&nbsp;
    <input type="text" asp-for="address">&nbsp;
    <input type="submit" value="Save">
</form>