﻿


@model StudentModel
<div  class="text-center">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>id</th>
        </tr>
        <tr>
            <td>@Model.name</td>
            <td>@Model.address</td>
            <td>@Model.id</td>
        </tr>
    </table>
</div>