﻿
@model StudentModel;

<div class="text-center">
    <input id="button1" type="button" value="Get records"><br/>

    <form asp-action="GetStudentById" id="button2">
        <label asp-for="id">GET STUDENT BY ID</label><br/>
        <input type="number" asp-for="id" >
    </form><br/>
    <a href="/Student/AddStudent">Add Record</a>
</div>
<div id="div1"></div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $("#button1").click(function () {
                event.preventDefault();
                $("#div1").load("/Student/StudentView");
            });
            $("button2").submit(function () {
                event.preventDefault();
                $("#div1").load("/Student/GetStudentById");

            });

    });
    </script>
}