﻿@{ 
    Layout = null;
}
@model List<TaskApp.Models.StudentModel>
<div class="text-center">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>id</th>
        </tr>
        @foreach (var t in Model)
        {
            <tr>
                <td>@t.name</td>
                <td>@t.address</td>
                <td>@t.id</td>
            </tr>

        }
    </table>
</div>

