﻿@{
    ViewData["Title"] = "Home Page";
}
@model Student
<div class="card">
        <form asp-controller="Home" asp-action="StudentDetails" method="post">
        <div class="heading">
            <h2>REGISTRATION FORM</h2>
        </div>
        <div class="row mb-3">
            
            <label asp-for="Name" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="Name" class="form-control"/>
                <span style="color:red" id="username"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="School" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="School" class="form-control" />
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="Address" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <textarea asp-for="Address" class="form-control" ></textarea>
                <span style="color:red" id="lastname"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="Standard" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="Standard" class="form-control" />
                <span style="color:red" id="pssword"></span>
            </div>
        </div>


        <fieldset class="row mb-3">
            <label asp-for="Gender" class="col-form-label col-sm-3 pt-0"></label>
            <div class="col-sm-9">
                <input type="radio" asp-for="Gender" value="male" />
                <label class="form-check-label ">Male</label>


                <input type="radio" asp-for="Gender" value="female" />
                <label class="form-check-label ">Female</label>
                <span id="gend"></span>

            </div>
        </fieldset>

        <button type="submit" value="submit" id="but">Register</button>
        <button type="reset">Reset</button>
    </form>
</div>
@section Scripts{
<partial name="_ValidationScriptsPartial"/>
}
