﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "StudentDetails";
}
@model List<Student>
<div>
    <table id="tab" class="table">
        <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">School</th>
                <th scope="col">Address</th>
                <th scope="col">Gender</th>
                <th scope="col">Standard</th>

            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.School</td>
                    <td>@item.Address</td>
                    <td>@item.Gender</td>
                    <td>@item.Standard</td>
                </tr>
            }
        </thead>

        <tbody>

    </table>
</div>
