﻿@{
    ViewData["Title"] = "Home Page";
}
@model MvcApp.Models.StudentModel

<div class="text-center">
    <form method="post" asp-action="Index">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text">
        <label asp-for="Address"></label>
        <input asp-for="Address" type="text">
        <input type="submit" value="Submit">
    </form>
    <br/>
    <input type="button" value="Get Students" id="button1">
</div><br/>
<div id="div1" class="text-center"></div>
@section Scripts{
    
    <script>
        $(document).ready(function () {
            $("#button1").click(function () {
                event.preventDefault();
                $("#div1").load("/Student/StudentView");
            });
    });
    </script>
    +}
