﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model List<MvcApp.Models.StudentModel>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
    </tr>
    @foreach (var t in Model) { 
<tr>
    <td>@t.Id</td>
    <td>@t.Name</td>
    <td>@t.Address</td>

</tr>
    }
</table>
