﻿@*@{
    ViewData["Title"] = "Home Page";
}*@
@model CalculatorApp.Models.CalculateModel

<form  method="post">
    <div class="text-center">
        <label asp-for="FirstNumber"></label>
        <input type="text" asp-for="FirstNumber">
        <label asp-for="SecondNumber"></label>
        <input asp-for="SecondNumber">

        <label asp-for="Result"> @Model.Result</label><br />
        <input type="submit" asp-action="Addition" value="ADD">
        <input type="submit" asp-action="Subtract" value="SUBTRACT">
        <input type="submit" asp-action="Mult" value="MULTIPLY">
        <input type="submit" asp-action="Divide" value="DIVIDE">
    </div>
    </form>