﻿body {
    margin: 10px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading {
    text-align: center;
    margin-bottom: 23px;
    color: bisque;
}

.card {
    width: 40%;
    /*height: fit-content();*/
    margin: auto;
    border: 2px solid #dbd1c4;
    border-radius: 5px;
}

form {
    padding: 30px;
}

button {
    background-color: bisque;
    color: white;
    border-color: bisque;
    /* border-block: none; */
    border-radius: 10px;
    width: 87px;
    height: 40px;
    border-radius: 8px;
    /* outline: auto; */
    border-radius: 10px;
    border: none;
}

.form-check-input:checked {
    background-color: bisque;
    border-color: bisque;
}

.form-control:focus {
    border-color: #ff80ff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5) !important;
}

span {
    color: red;
}


input[type="checkbox"] {
    border-radius: 4px;
    margin-right: 4px;
}

table.table {
    width: 78%;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5%;
}

button {
    border-radius: 8px;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #d1cece;
    color: white;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    text-align: center;
}