﻿body
{
    margin:10px;
    padding:10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading {
    text-align: center;
    margin-bottom: 23px;
    color: bisque;
}
.card {
    width: 40%;
    /*height: fit-content();*/
    margin: auto;
    border: 2px solid #dbd1c4;
    border-radius: 5px;
}
form {
padding:30px;
}
button {
    background-color: bisque;
    color: white;
    border-color: bisque;
    /* border-block: none; */
    border-radius: 10px;
    width: 87px;
    height: 40px;
    border-radius: 8px;
    /* outline: auto; */
    border-radius: 10px;
    border: none;
}
.form-check-input:checked {
    background-color: bisque;
    border-color: bisque;
}

