﻿body
{
}
h2 {
color:greenyellow;
}
input[type="checkbox"] {
    border-radius:4px;
margin-right: 4px;
}
table.table {
    width: 78%;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5%;
}
button {
    border-radius: 8px;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #d1cece;
    color: white;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    text-align:center;
   
}